.scentui-student-profile {

    color: #505050;

    .input-group {
        margin-bottom: 0;
    }

    .input-group-btn button {
        border-top-right-radius    : 4px !important;
        border-bottom-right-radius : 4px !important;
    }
}